.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    min-height: 200px;
    min-height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

.upload-drop-zone .drop {
    color: #222;
    border-color: #222;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}